@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  place-items: center;
  background: linear-gradient(to bottom, #0f172a, #1e293b);
}

#root {
  width: 100%;
  min-height: 100vh;
}
